<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Contact Us</h3> <hr>
    </div>
  </div>
  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
          121, Dr. Drive <br> San Jose, California<br> MOUNTAIN VIEW<br>
          <i class="fa fa-phone"></i>: +1 1234 5678<br>
          <i class="fa fa-fax"></i>: +1 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:ssi@food.net">ssi@food.net</a>
        </address>
        <p></p>

  <div>
    <a mat-raised-button href="tel:+112345678"><i class="fa fa-phone"></i> Call</a>
    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
    <a mat-raised-button href="mailto:ssi@food.net"><i class="fa fa-envelope-o"></i> Email</a>
  </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>
</div>
