<mat-toolbar mat-dialog-title color="primary">
  <div fxFlex> Login </div>
  <span class="flex-spacer"></span>
  <div fxFlex>
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>

<p>{{ user | json }}</p>
<form novalidate (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-input-container>
        <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" required>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" required>
      </mat-input-container>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white" >Login</button>
  </mat-dialog-actions>
</form>
